<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">



  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>Dream Journal</title>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
</head>

<body>

  {{{body}}}


</body>

<script type="text/javascript">
  function toggleDarkLight() {
    var body = document.getElementById("body");
    var currentClass = body.className;
    body.className = currentClass == "dark-mode" ? "light-mode" : "dark-mode";
  }


  var tagList = [];

  var autoCompList = {};

  $('.chips').chips();

  $("#addChipBtn").click(function () {
    var tag = $(".tags").val().trim();
    tagList.push(tag);
    var newChip = $("<div>").addClass("chip");
    newChip.text($(".tags").val().trim());
    var deleteBtn = $("<i>").addClass("close material-icons").text("close");
    newChip.append(deleteBtn);
    $("#lg-Chips").append(newChip);
    // add new tag to autocomplete list function goes here
    $(".tags").val("");
    console.log(tagList);
  })




  $(document).on("click", ".close", function () {
    var thisTag = $(this)[0].parentElement.firstChild.data;
    tagList = tagList.filter((tagObj) => tagObj !== thisTag);
    console.log(tagList);
  });

</script>

</html>