<a class="waves-effect waves-light btn" id="submit"><i class="material-icons left" id="submit">add_circle</i>Submit New Entry</a>

<h1 id="entries">All Entries</h1>

<ul>
    {{#each journals}}
    {{> entry-block}}
    {{/each}}
</ul>