body.dark-mode {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/270598716228094303/D09D43F7AF5CE184E5A79C3A8F706B2A3BB64E2F/");
  color: #eee;
  background-position: center;
  background-size: 106%;
  color: white;
}
body.dark-mode a {
  color: #111;
}
body.dark-mode #submit {
  background-color: #854085;
  color: #d1d1d1;
}
body.light-mode {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/100603690261137263/38837F55ADABD92873219D525D45F3D474B9F789/");
  color: #111;
  background-position: center;
  background-size: 106%;
}
body.light-mode a {
  color: #111;
}
body.light-mode button {
  background-color: #df7492;
  color: #e9ebe6;
}
.list-group-item {
  line-height: 2.5;
}

body.dark-mode #journal {
  text-align: center;
  font-family: "Bungee Inline", cursive;
}

body.light-mode #journal {
  text-align: center;
  font-family: "Bungee Inline", cursive;

  color: #df7492;
  text-shadow: -1px -1px 0 #e9ebe6, 1px -1px 0 #e9ebe6, -1px 1px 0 #e9ebe6,
    1px 1px 0 #e9ebe6;
}

body.dark-mode h2 {
  color: #ffce0f;
  -webkit-animation-name: example;
  -webkit-animation-duration: 60s;
  animation-name: example;
  animation-duration: 60s;
}
@keyframes example {
  0% {
    color: #f34c37;
  }
  25% {
    color: #ffce0f;
  }
  50% {
    color: #f34c37;
  }
  100% {
    color: #ffce0f;
  }
}
body.dark-mode .form-control {
  background-color: #2f4562;
  color: #d1d1d1;
}

body.dark-mode .tags {
  background-color: #2f4562;
  color: #d1d1d1;
}

body.light-mode .form-control {
  background-color: #5382a0;
  color: #e9ebe6;
}

body.light-mode .tags {
  background-color: #5382a0;
  color: #e9ebe6;
}

body.dark-mode #addChipBtn {
  background-color: #854085;
}

body.light-mode #addChipBtn {
  background-color: #df7492;
}

body.light-mode #submit {
  background-color: #df7492;
}

body.dark-mode li {
  background-color: #5382a0;
  color: #e9ebe6;
}

body.dark-mode #entries {
  text-align: center;
  font-family: "Bungee Inline", cursive;
}

body.dark-mode button {
  background-color: #854085;
  color: #d1d1d1;
}

body.light-mode li {
  background-color: #5382a0;
  color: #e9ebe6;
}

body.light-mode #entries {
  text-align: center;
  font-family: "Bungee Inline", cursive;
}

/* body.dark-mode label {
  background-color: lightgray;
  padding: 0px;
} */
/* .form-control {
  background-color: white;
}

#journal-title {
  background-color: white;
} */

/* .entryDescription {
  border: 1px solid black;
} */

li {
  border: 1px solid black;
  margin: 5px;
  margin-bottom: 10px;
  background: lightgrey;
}

body.dark-mode #dark-light {
  float: right;
}

body.light-mode #dark-light {
  float: right;
}

#journal-description {
  height: 72px;
}
